body{ margin:0px; font-size:12px;font-family:"Microsoft YaHei"; }
.tps{ background:url(tps.jpg) repeat-x; height:32px; line-height:34px; color:#aaaaaa}
.tps h1{ font-size:14px; color:#666666; font-weight:100; width:350px; float:left; margin:0px;}
.tps a{ text-decoration:none; color:#666666; text-align:right; padding:0px 5px; cursor:pointer;}
.tps .cm{ width:380px; float:right; height:32px; line-height:32px; position:relative; z-index:8888}
#mo{ width:160px; height:178px; border:#999999 1px solid; position:absolute; left:0px; top:32px; background: url(ewm.jpg) no-repeat  #fff; z-index:9999; color:#990000;}
.tyk{ width:980px; margin:0px auto;}
.tp10{ margin-top:10px;}
.top{ height:86px; position:relative;}
.logo{ background:url(seo-logo.gif) no-repeat; width:358px; height:57px; display:block; overflow:hidden; text-indent:-888em; position:absolute; left:0px; top:15px;}
.tel{ background:url(tel.gif) no-repeat; width:239px; height:58px; position:absolute; right:10px; top:16px; z-index:888}
.ktx{ background:url(kt.gif) no-repeat; width:58px; height:24px; line-height:24px; text-decoration:none; font-size:13px; display:block; text-align:center; color:#FFFFFF; position:absolute; right:280px; top:30px; letter-spacing:2px; z-index:777}
.ktx2{   width:58px; height:24px; line-height:24px; text-decoration:none; font-size:13px; display:block; text-align:center; color:#595959; position:absolute; right:350px; top:30px; letter-spacing:2px;}
.mu{ background:#1a64aa; height:46px; line-height:46px;font-size:14px; color:#FFFFFF;}
.mu a{ font-size:14px; color:#FFFFFF; padding:13px 15px; text-decoration:none; border-left:#104aa0 1px solid; letter-spacing:1px; margin:0px;text-shadow: 1px 0 0 #104aa0;}
.mu a:hover{ background:#024475}
.hei{ border:#CCCCCC 1px solid; margin-bottom:15px;}
.mu2{ background:#334756; line-height:46px;font-size:14px; color:#FFFFFF;}
.mu2 b{ font-size:14px; color:#FFFFFF; padding:13px 20px; font-weight:100;  letter-spacing:1px; margin:0px;background:#024475}
.mu2 a{ font-size:14px; color:#FFFFFF; padding:13px 25px; text-decoration:none; border-left:#172733 1px solid; letter-spacing:1px; margin:0px;text-shadow: 1px 0 0 #172733;}
.mu2 a:hover{ background:#024475}
.ad{ width:100%;overflow: hidden;text-align: center;height: 100%; background:#4b74b6}
.ad img{max-width: none;transition: width 0.25s ease 0s, height 0.25s ease 0s;width:100%;}
.ys{   background:url(body-bg.jpg); height:auto; padding-bottom:5px;}
.xwn{   background:url(body-bg.jpg); height:auto; padding-bottom:5px;}
.ys b{ font-size:36px; width:210px; height:120px;   float:left; line-height:120px; display:block; text-align:center; font-family:"Microsoft YaHei";font-weight:bold; margin-top:10px; color:#FFFFFF}
.ys p{ padding:10px;}
.ys h1{ background:#3498db; margin-top:20px; height:60px; line-height:60px; text-align:center; color:#FFFFFF;font-family:"Microsoft YaHei"; font-size:28px;letter-spacing:2px;border-radius:15px 15px 0px 0px; margin-bottom:0px;} 
.ys h1 span{ font-size:16px;line-height:80px;height:80px; }
.ys .tp1{margin:10px 20px; float:left; border:#ccc 1px solid; padding:5px; height:110px; background:#fff;box-shadow: 0 1px 3px #666666;transform: rotate(5deg) scale(1.1);transition: all 0.3s linear 300ms;}
.ys .tp2{margin:10px 20px; float:left; border:#ccc 1px solid; padding:5px; height:110px; background:#fff;box-shadow: 0 1px 3px #666666;}
.ys a{ color:#333333}
.ys2{ background:#f1c40e;height:150px; font-size:14px; line-height:30px; }
.ys3{ background:#19bc9b;height:150px; font-size:14px; line-height:30px;}
.ys4{ background:#e74b3b;height:150px; font-size:14px; line-height:30px;border-radius: 0px 0px 15px 15px;} 
.av{ width:228px; height:130px; display:block; border:#ddd 1px solid; float:left; margin:15px 20px 5px 0px; background:#FFFFFF; position:relative; z-index:11; overflow:hidden;}
.av:hover{box-shadow: 0 1px 3px #666666;border:#333 1px solid; }
.av p{ position:absolute; width:188px; height:92px; left:10px; top:120px; z-index:444; background:#ff6600;filter: alpha(opacity=90);opacity: 0.9; color:#FFFF00; line-height:40px; font-size:14px;transition:all 0.5s ease 0s;}
.av p a{ color:#FFFFFF; margin:10px 5px 0px 0px; text-decoration:none}
.av img { width:208px; height:110px; margin:10px; border:none}
.av:hover p{ top:-5px;}
.cr{ clear:both}
a.gdal{  clear:both;font-family:"Microsoft YaHei"; display:block; text-align:center; height:80px;font-size:36px; line-height:80px; text-decoration:none; margin:10px auto 15px auto; background:#ff6600; color:#fff ;border-radius: 0px 0px 15px 15px;}
.tc1,.tc2,.tc3,.tc4{ width:230px; float:left; height:100px; background:#f1c40e;  margin-right:20px; font-size:36px; text-align:center; line-height:100px; }
.sywt{ background:#fff; border:#CCCCCC 1px solid;border-radius:0px 0px 15px 15px ; }
.sywtt{ display:block; color:#fff; line-height:80px;background:#19bc9b;border-radius:15px 15px 0px 0px; font-size:36px; font-family:"Microsoft YaHei"; font-weight:bold; margin-top:15px;padding-left:30px;}
.sywt  p{ line-height:24px; font-size:14px;}
.sywt a{ font-size:18px; color:#fff; font-family:"Microsoft YaHei"; text-decoration:none; display:block; padding:5px; background:#19bc9b;border-radius:8px 8px 0px 0px; padding-left:20px;}
.sywtt form{ width:320px; float:right; margin-top:30px; font-size:14px; height:30px; line-height:30px;}
.sywt table{background:#eee;border-radius:0px 0px 8px 8px ; }
.syxwt{ margin-top:15px;background:#ff9900;font-size:36px; line-height:80px; display:block;   font-family:"Microsoft YaHei"; font-weight:bold; color:#fff; padding-left:30px;border-radius:15px 15px 0px 0px;}
.syxw{ border:#ccc 1px solid; padding:10px; background:#fff; font-size:14px; border-radius:0px 0px 15px 15px ; margin-bottom:20px;}
.syxw a{ width:440px; height:28px; line-height:28px; display:block; float:left;overflow:hidden;text-overflow: ellipsis;white-space: nowrap; background:url(http://www.ilikeseo.cn/images/b.gif) no-repeat scroll 8px 10px; padding-left:20px;text-decoration:none;border-bottom:#ccc 1px dotted; margin-left:15px}
.syxw a:hover{ color:#FF3300}
.syxw .red{ color:#FF6600; color:#003366 }
.syxw .m{ color:#024475; }
.ban{ line-height:26px; font-size:14px; color:#333333; padding-bottom:0px;}
.ban a{ color:#333333}
.ban p{ padding:5px;}

.title {color: #000000;font-size: 26px;font-weight: bold;}
.title span {color: #ae0b04;}

.page_block_content{ width:980px; margin:0px auto; background:#FFFFFF; border:#ddd 1px solid; padding-bottom:20px;}
.buy_block{padding-top: 15px;font-size: 14px;}
.page_block_content.experience_flow .flow_detail ul li{width: 196px;}
.page_block_content .icons_experienceFlow{margin-left: 60px;}

.charge_function{overflow: hidden;padding-top: 20px;margin-bottom: -40px;font: 12px/1.5 "Microsoft YaHei","lucida Grande",Verdana;}
.charge_function p{ margin:0px;}
.charge_function li{float: left;width: 232px;margin-bottom: 40px; list-style:none}
.charge_function li .icons_chargeFunction{float: left; margin-top:15px;margin-right: 10px;margin-left:0px;}
.charge_function li .title{font-size: 16px;color: #505558;margin-bottom: 5px;}
.charge_function li .text{font-size: 12px;color: #939fa6; padding:0px; padding-left:60px;}

.icons_chargeFunction{background: url(icons_chargesFunction1ca3fe.png) 0 0 no-repeat;display: inline-block;width: 55px;height: 56px;}
.icon_capacity{background-position: 0 0;}
.icon_webDisk{background-position: -55px 0;}
.icon_personalMake{background-position: -110px 0;}
.icon_buyNeed{background-position: -550px 0;}
.icon_emailCollection{background-position: -495px 0;}
.icon_RTX{background-position: -605px 0;}
.icon_network{background-position: -660px 0;}
.icon_exmailImage{background-position: -165px 0;}
.icon_needBuy{background-position: -220px 0;}
.icon_backUp{background-position: -275px 0;}
.icon_IPLimit{background-position: -330px 0;}
.icon_memberLimit{background-position: -385px 0;}
.icon_serveSupport{background-position: -440px 0;}
.table_block {border: 1px solid #d7e1e5;background:#FFFFFF}
.table_block th {background-color: #c9cfd2;border-bottom: 1px solid #d7e1e5;border-right: 1px solid #d7e1e5;padding: 12px 10px;text-align: center;}
.table_block td {border-bottom: 1px solid #d7e1e5;border-right: 1px solid #d7e1e5;color: #505558;padding: 15px 12px;text-align: center;font: 16px/1.8 "Microsoft YaHei","lucida Grande",Verdana;  }
.table_block tr.bg {background-color: #f5f7f8;}
.hv{ color:#fff; text-align:center; font-size:24px; font-family:"Microsoft YaHei"; background:#FF6600; line-height:46px;}
.yinwixopt_m{background:#FFFFFF; border:#ddd 1px solid; margin:0px; text-align:center}
 .m_nali {background:#fff; padding-bottom:10px;border:#ddd 1px solid;}
.anli_detail { padding:0px;padding-top: 30px; margin:0px;}
.anli_detail ul li { list-style-type:none;border: 1px solid #dbe8f6; display: block;float: left;height: 174px;margin: 0 0 30px 0px;width: 442px;}
.anli_detail ul li:nth-child(2n+1) {margin-right: 20px;}
.detail_list {padding: 25px 0 0 22px;}
.detail_list .tt {padding-bottom: 10px;}
.detail_list .tt a {color: #3378d0;font-size: 15.97px;font-weight: bold;}
.detail_list .count {font-family:"Microsoft YaHei";font-size: 12px;line-height: 22px;}
.detail_list .count a {color: #3378d0;}
.detail_list .l { float: left;width: 230px;}
.detail_list img {float: right;margin-right: 25px;}
.xr{ clear:both; background:#383838; padding:10px; font-size:16px; color:#FFFFFF}
.baifbi {background: url("m_baifbibg.jpg") no-repeat -20px 0px;    height: 278px;overflow: hidden; margin-top:20px;}
.baifbi_1 {padding: 0 50px;}
.baifbi_1 .tt {line-height: 35px;margin-top: 40px;padding-bottom: 54px;}
.baifbi_1 .count {color: #666666;font-family:"Microsoft YaHei";font-size: 14px;line-height: 30px;}
.wammeijh { height: 117px;line-height: 117px; padding-left: 50px;}
.jh_detail {background: url("m_jh_detail.png") no-repeat ;height: 267px;position: relative;}
.jh_detail div {color: #666666;font-family:"Microsoft YaHei";font-size: 14px;line-height: 30px;position: absolute;}
.jh_detail .d1 {left: 151px;top: 155px;}
.jh_detail .d2 {left: 405px; top: 176px;}
.jh_detail .d3 {left: 714px;top: 95px;}
.jh_detail .d4 {left: 506px;top: 1px;}
.bdf{ font-size:14px; background: url(lybg.jpg) #fff; border:#ddd 1px solid; }
.bdf table{ margin:20px 20px 10px 450px; background:url(banner_feature_bg1ca3fe.png);border-radius:15px}
.bdf .txts{ width:220px; height:26px; line-height:26px; border:#8a9bc5 1px solid;}
.bdf .subm{width:120px; height:50px; font-size:16px; text-align:center; background:#1a64aa; color:#FFFFFF;border-radius:8px; cursor:pointer}
.ys h1 .zc{ text-align:left; padding-left:20px;}

.fmu{ width:60px; border:#666 1px solid;max-height:350px; display:block; position:fixed; right:5px;bottom:24%; background:#fff;border-radius:5px 5px 0px 0px;filter: alpha(opacity=40);opacity: 0.4; }
.fmu:hover{filter: alpha(opacity=100);opacity:1; }
.fmu a{ display:block; font-size:14px; color:#333; height:34px; line-height:34px; border-bottom:#666 1px solid; text-align:center; text-decoration:none}
.fmu a:hover{ background:#eee}
.abts{ background:#4b74b6}
.abt{ font-size:16px; color:#fff; padding:20px; line-height:30px;width:620px; float:left; height:430px; vertical-align:bottom;}
.sk{ width:300px; float:right; height:430px; background:#4b74b6; text-align:center ; padding-top:10px; }
.xwnr{text-align:left; padding:10px; background:#fff; line-height:24px; font-size:14px}
.txk{border-bottom:#999 1px solid; height:42px; line-height:42px;}
.xwfl{ border:#999 1px solid;padding:10px; background:#fff; margin-left:20px; margin-top:20px; margin-bottom:20px;}
.xwfl a{ display:block; line-height:30px; font-size:12px; color:#333333; text-decoration:none; padding-left:10px;}
.xwfl .dk{ background:#1a64aa; color:#fff}
.xwfl a:hover{background:#1a64aa; color:#fff}
.xwlb a{ display:block; height:30px; line-height:30px; color:#1a64aa; text-decoration:none; font-size:14px; background: url(yd.png) no-repeat 5px 8px; padding-left:25px}
.xwlb a:hover{ color:#1a64aa; text-decoration:underline}
#pages{ height:32px; clear:both; border-top:#999 1px solid; line-height:32px; padding-top:10px; margin-top:10px;}
#pages a{ padding:5px 8px; border:#666 1px solid; margin:5px; color:#333; text-decoration:none}
#pages span{ padding:5px 8px; border:#666 1px solid;margin:5px; color:#333;}
.xwtt{line-height:46px;height:46px;padding-left:10px;border-bottom:#ddd 1px solid;font-size: 20px; }
.gdxw{line-height:36px;height:36px;padding-left:10px; background:#eee;margin-top:20px; font-family:"ו"; color:#333333}
.gdxw a{ color:#333333; text-decoration:none}
.sok{ position:relative}
.so{ width:300px; position:absolute; top:-30px; right:10px;}
#kf{background:#3c9cdc; height:140px; width:99%; position:fixed; bottom:0px; border:#CCCCCC 5px solid}
#kf a{ color:#FFFFFF}
#kf p{ width:238px; height:120px; display:block; margin:10px; background:url(kefu.png) no-repeat; float:left; color:#fff; line-height:26px;}
#kf p img{ float:left; margin:5px 18px 5px 5px;}
#kf .kfc{ background:url(x.png) no-repeat 3px 3px #006699 ; width:24px; height:24px; display:block; overflow:hidden; text-indent:-33em; position: fixed;bottom:120px; right:10px;}
#kf .kfa{ display:block; color:#1b8ad4; font-weight:bold; margin:10px 0px 0px 10px; width:86px; float:left; text-decoration:none}
.baidu{ display:none}

.cuxiaoWrapper {
    position: fixed;
    left: 5px;
    bottom: 5px;
    width: 190px;
    height: 230px;
    overflow: hidden;
    border-radius: 4px;
    z-index: 2000;
    border: 1px solid #EEE;
}

.cuxiaoHeader {
    height: 40px;
    background-color: #FEFEFE;
    position: relative;
    border-bottom: 1px solid #EEE;
}

.cuxiao_close {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    background: url('/email_tg/cuxiao/cuxiao_close1cc9cd.png') no-repeat scroll 50% 50% transparent;
    top: 0px;
    right: 0px;
    border-left: 1px solid #EEE;
}