/* CSS Document */

/*兼容代码*/
/*Reset*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;border:0;}
/*清除边线*/
fieldset,img{border:0;}
:focus{outline:0;}
/*合并边线,边线空间至零
table{border-collapse:collapse;border-spacing:0;}*/
abbr,acronym{border:0;font-variant:normal;}
/*
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
h1{font-size:22px;}
h3{font-size:14px;}
*/
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt{font-size:100%;}
caption,th{text-align:left;}
sup,sub{font-size:100%;vertical-align:baseline;}
ol,ul{list-style:none;}
:link,:visited,ins{text-decoration:none;}
/*添加空字符清除融合*/
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
/*For IE6-Win,IE7-Win*/
input,button,textarea,select{*font-size:100%;}
legend{color:#ededed;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
/*Hides from IE-mac*/
* html .clearfix{height:1%;}
.clearfix{display:block;}

/*html5 display-role reset for older browsers*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1; font-family:Times New Roman,宋体, Times, serif, Helvetica, sans-serif; background:none; width:100%;}

/*Generic Classes*/
.l{float:left;}
.r{float:right;}
.clear{ clear:both;}
.shadow{background:#fff;-moz-box-shadow:0 0 5px rgba(0,0,0,0.75);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.75);box-shadow:0 0 5px rgba(0,0,0,0.75);}
.radius{border:1px solid #e6e6e6;
    -moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.75);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.75);box-shadow:0 1px 3px rgba(0,0,0,0.75);}

input:-moz-placeholder {
        color:#ffffff;
}
 
input::-webkit-input-placeholder {
        color:#ffffff;
}
textarea:-moz-placeholder {
        color:#ffffff;
}
textarea::-webkit-input-placeholder {
        color:#ffffff;
}
/*兼容代码—end*/

/*公用样式*/
html,body,ul,li,dl,dt,dd,p,input,form,h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
img{ vertical-align:middle;}
ul{ list-style:none;}
a{ cursor:pointer;}
/*公用样式_end*/

/*清除浮动*/
.clear{ clear:both; height:0; overflow:hidden;}
/*清除浮动——end*/

.clearfloat { clear:both;	height:0;	font-size:1px;	line-height:0;	*display:block;	*overflow:hidden}

#a111 { position:fixed; right:2%; top:5%; z-index:999; border:#fff solid 1px; }
#a111 li{ width:80px; height:40px; font-family:"宋体"; text-align:center; line-height:40px; font-size:12px; }
#a111 a{ width:80px; height:40px; color:#000; display:block;}
#a111 a:hover{ background-color:#333; color:#fff;}
#a111 .c00{ background-color:#bb4118;}
#a111 .c01{ background-color:#ffa141;}
#a111 .c02{ background-color:#8fc320;}
#a111 .c03{ background-color:#54bdff;}
#a111 .c04{ background-color:#f15c66;}
#a111 .c05{ background-color:#4277d8;}
#a111 .c06{ background-color:#e18f00;}
#a111 .c07{ background-color:#02942b;}
#a111 .c08{ background-color:#54bdff;}

.wrap{ width:980px; margin:0 auto;}

#top{ height:441px; background:url(../images/top_bj.gif);}
#top .box{ background: url(../images/top_img01.jpg) no-repeat center top; height:441px; position:relative }
#top .box a{ width:200px; height:100px; display:block; position:absolute; bottom:0; left:50%; margin-left:-100px; overflow:hidden; text-indent:-9999px; }
.button{ position:absolute; left:50%; margin-left:400px; top:175px;}
.button .but1{ background:url(../images/but1.png) no-repeat; width:148px; height:42px;}
.button .but2{ background:url(../images/but2.png) no-repeat; width:148px; height:42px; margin-top:7px;}

#aa01{ background:url(../images/xs_02.gif); height:399px;}
#aa01 .title{ background:url(../images/xs_01.gif) repeat-x; height:29px;}
#aa01 .box{ background:url(../images/aa01_img01.jpg) no-repeat center top; height:370px; }
#aa01 p{ font-family:"Microsoft Yahei","宋体"; color:#fff; font-size:16px; line-height:30px;}
#aa01 .wz01{ width:400px; float:left; margin:60px 0 0 55px; display:inline;}
#aa01 .wz02{ width:300px; float:right; margin:25px 120px 0 0; display:inline;}

#aa02{ background:url(../images/xs_03.gif); height:566px;}
#aa02 .title{ height:73px; background-color:#8fc320;}
#aa02 .box{ background:url(../images/aa02_img01.jpg) no-repeat center top; height:493px;}
#aa02 p{ font-family:"Microsoft Yahei","宋体"; color:#8fc320; font-size:16px; line-height:30px;}
#aa02 .wz01{ width:400px; float:left; margin:100px 0 0 0; display:inline; height:160px;}
#aa02 .wz02{ width:423px; float:right; margin:60px 0 0 0; display:inline; height:200px;}
#aa02 .wz03{ width:420px; float:left; margin:70px 0 0 22px; display:inline;}
#aa02 .wz04{ width:300px; float:right; margin:10px 15px 0 0; display:inline;}

#aa03{ background:url(../images/xs_04.gif); height:594px;}
#aa03 .title{ height:73px; background-color:#54bdff;}
#aa03 .box{ background:url(../images/aa03_img01.jpg) no-repeat center top; height:521px;}

#aa04{ background:url(../images/xs_05.gif); height:559px;}
#aa04 .title{ height:73px; background-color:#f15c66;}
#aa04 .box{ background:url(../images/aa04_img01.jpg) no-repeat center top; height:486px;}
#aa04 p{ font-family:"Microsoft Yahei","宋体"; color:#f15c66; font-size:16px; line-height:30px;}
#aa04 .wz01{ width:510px; float:right; margin:40px 0 0 0; display:inline; }

#aa05{ background:url(../images/xs_06.gif); height:449px;}
#aa05 .title{ height:73px; background-color:#4277d8;}
#aa05 .box{ background:url(../images/aa05_img01.jpg) no-repeat center top; height:376px;}

#aa06{ background:url(../images/xs_07.gif); height:499px;}
#aa06 .title{ height:73px; background-color:#e18f00;}
#aa06 .box{ background:url(../images/aa06_img01.jpg) no-repeat center top; height:426px;}
#aa06 p{ font-family:"Microsoft Yahei","宋体"; color:#e18f00; font-size:16px; line-height:30px;}
#aa06 .wz01{ margin:140px 0 0 60px; float:left }

#aa07{ background:url(../images/xs_08.gif); height:339px;}
#aa07 .title{ height:73px; background-color:#02942b;}
#aa07 .box{ background:url(../images/aa07_img01.jpg) no-repeat center top; height:266px;}
#aa07 p{ font-family:"Microsoft Yahei","宋体"; color:#02942b; font-size:16px; line-height:30px;}
#aa07 .wz01{ width:750px; float:left; margin:85px 0 0 200px; display:inline; }

#aa08{ background:url(../images/xs_09.gif); height:549px;}
#aa08 .title{ height:73px; background-color:#54bdff;}
#aa08 .box{ background:url(../images/aa08_img01.jpg) no-repeat center top; height:420px; position:relative}
#aa08 a{ width:220px; height:69px; position:absolute; bottom:20px; left:50%; margin-left:-110px;}

#footer{ background-color:#ccc; padding:20px; font-size:12px; text-align:center; line-height:200%; color:#666; font-family:Arial,"宋体";}
#footer a{ color:#09F}
#footer a:hover{ color:#f60}

/*留言*/
#liuyan{ width:100%; height:392px; font-size:12px; background:url(../images/liuyan_bg.jpg) center center no-repeat #f9f9f9;}
	.liuyan_box{ width:524px; height:239px; margin:0 auto;}
	.liuyan_zi{ font-size:24px; font-family:"微软雅黑"; color:#4794e7; font-weight:bold; padding-top:34px;}
	.liuyan_k{ width:249px; height:34px; background:#cacaca; color:#fff; margin-top:33px; padding:0 5px;}
	.liuyan_k_2{ width:514px; height:34px; background:#cacaca; color:#fff; margin-top:13px; padding:0 5px;}
	.liuyan_k_3{ width:514px; height:98px; background:#cacaca; color:#fff; margin-top:13px; padding:2px 5px;}
	.liuyan_tijiao{ background:url(../images/sumbit.png) no-repeat; margin:0 auto; width:144px; height:33px; margin-top:50px;}
/*留言_end*/