a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{padding:0;margin:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,td,th{text-align:left;font-weight:400;vertical-align:middle}
a img{border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;padding:0;margin:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}[hidden],audio:not([controls]){display:none}
body{font:12px 'microsoft yahei';color:#333;background:#fff}
a{text-decoration:none;color:#333}
.header{height:80px;text-align:center}
.header .header-wrapper{margin:0 auto;width:980px;text-align:left;position:relative}
.header .header-wrapper span{color:#a7a7a7;font-size:16px;position:absolute;left:150px;top:38px}.logo{display:inline-block;width:138px;height:44px;background:url(/bdimages/logo-icon.png) no-repeat;_background:url(/bdimages/logo-icon-ie6.png) no-repeat;position:absolute;top:14px;left:0}
.menu{position:absolute;right:0;top:0;*zoom:1}
.menu:after,.menu:before{display:table;content:""}
.menu:after{clear:both}
.menu li{float:left;width:120px;height:80px}
.menu li a{display:inline-block;text-align:center;width:120px;height:80px;font-weight:700;font-size:14px}
.menu li a:hover{background:#fafafa}
.menu li.event-selected a,
.menu li.index-selected a,.menu li.intro-selected a{border-left:solid 1px #d6d6d6;border-right:solid 1px #d6d6d6;background:#fafafa;width:118px}
.menu li i{display:block;width:27px;height:27px;margin:17px auto 10px;background:url(/bdimages/logo-icon.png) no-repeat;_background:url(/bdimages/logo-icon-ie6.png) no-repeat}
.menu li.menu-index i{background-position:-90px -52px}
.menu li.index-selected i{background-position:-1px -52px}
.menu li.menu-intro i{background-position:-120px -52px}
.menu li.intro-selected i{background-position:-31px -52px}
.menu li.menu-event i{background-position:-151px -52px}
.menu li.event-selected i{background-position:-60px -52px}
.footer{width:100%;height:112px;line-height:112px;text-align:center;background:#eee;border-top:solid 1px #eee}
.footer .footer-wrapper{margin:0 auto;width:980px;text-align:left;text-align:center;background:#eee}
.footer a:hover{text-decoration:underline}.main{width:100%;text-align:center;border-top:solid 1px #eee}
.main .main-wrapper{margin:0 auto;width:980px;text-align:left;padding-top:20px}
.event{border-left:dashed 1px #c4c4c4;padding:0 0 5px 38px;margin:0 0 20px 44px}
.event h3{background:#ececec;padding:7px 15px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:inline-block;*display:inline;*zoom:1;position:relative;top:-8px;left:-82px;margin-bottom:15px}
.event ul{margin-bottom:20px}.event ul li{padding-left:20px;margin-bottom:30px;*margin-bottom:10px;position:relative}
.event ul em{display:inline-block;width:24px;height:28px;background:url(/bdimages/logo-icon.png) -170px -262px;_background:url(/bdimages/logo-icon-ie6.png) -170px -262px;position:absolute;left:-51px;_left:-71px;top:-8px;*top:10px;_top:6px}
.event ul h4{font-weight:700;margin-bottom:5px}

.event1{border-left:dashed 1px #c4c4c4;padding:0 0 5px 38px;margin:0 0 20px 44px}
.event1 h3{background:#ececec;padding:7px 15px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;display:inline-block;*display:inline;*zoom:1;position:relative;top:-8px;left:-82px;margin-bottom:15px}
.event1 ul{margin-bottom:20px}.event ul li{padding-left:20px;margin-bottom:30px;*margin-bottom:10px;position:relative}
.event1 ul em{display:inline-block;width:24px;height:28px;background:url(/bdimages/logo-icon.png) -170px -262px;_background:url(/bdimages/logo-icon-ie6.png) -170px -262px;position:absolute;left:-51px;_left:-71px;top:-8px;*top:10px;_top:6px}
.event1 ul h4{font-weight:700;margin-bottom:5px; text-align:center; height:60px; font-size:18px;}
.event1 {font-size:14px; line-height:25px;}
.menu li.menu-event1 i{background-position:-151px -52px}
.menu li.event1-selected i{background-position:-60px -52px}
.menu li.event1-selected a,
.menu li.menu-center i {
  width: 28px;
  height: 28px;
  background: url(/bdimages/v-center.png) no-repeat;
  _background: url(/bdimages/v-center-ie6.png) no-repeat;
  background-position: 0 0;
}